<footer>
    <div class="footer-menu">
        <ul>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Ingresar</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </div>
    <img src="img/branding/isotype.svg" alt="Pie de página">
    <p>Todos los derechos reservados 2023 - Funkoshop  &copy;</p>
</footer>

