 <footer>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li><a href="../shop">Shop</a></li>
                        <li><a href="../auth/register">Registrare</a></li>
                        <li><a href="../auth/login">Ingresar</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="/img/branding/isotype.svg" alt="Pie de página">
                </div>
            </div>
            <p>Todos los derechos reservados 2023 - Funkoshop  &copy;</p>
        </div>
    </div>
</footer>


<script type="text/javascript" src="/js/sumar-restar.js"></script>

</body>
</html>