 <footer>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li><a href="../shop">Shop</a></li>
                        <li><a href="../auth/register">Registrare</a></li>
                        <li><a href="../auth/login">Ingresar</a></li>
                        <li><a href="#" onclick="showContactAlert()">Contacto</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                     <a href="../"><img src="/img/branding/isotype.svg" alt="Pie de página"></a>
                </div>
            </div>
            <p>Todos los derechos reservados 2023 - Funkoshop  &copy;</p>
        </div>
    </div>
</footer>


<script type="text/javascript" src="/js/sumar-restar.js"></script>

<script>
  function showContactAlert() {
    // Mostrar la alerta
    const alertContainer = document.getElementById('contact-alert-container');
    
    // Crear el elemento de alerta
    const alertElement = document.createElement('div');
    alertElement.className = 'alert alert-danger alert-dismissible fade show';
    alertElement.role = 'alert';
    alertElement.innerHTML = `
      Aun no se encuentra disponible   
    `;

    // Agregar el elemento al contenedor
    alertContainer.innerHTML = '';
    alertContainer.appendChild(alertElement);

    // Cerrar automáticamente
    setTimeout(() => {
      alertContainer.innerHTML = '';
    }, 2000);
  }
</script>


</body>
</html>
